<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<!-- Advice 클래스를 빈으로 등록 -->
	<bean id="performanceTraceAdvice" class="com.lsj.spring.aop.ProfilingAdvice"/>
	
	<!-- Aspect 설정: Advice를 어떤 Pointcut에 적용할 지 설정 -->
	<aop:config>	
		<aop:aspect id="traceAspect1" ref="performanceTraceAdvice">
			<aop:pointcut id="publicMethod" expression="execution(public * com.lsj.spring.board.service..*(..))" />
			<aop:around pointcut-ref="publicMethod" method="trace"/>
		</aop:aspect>
		
		<aop:aspect id="traceAspect2" ref="performanceTraceAdvice">
			<aop:around pointcut="execution(public * com.lsj.spring.member.service..*(..))" method="trace"/>		
		</aop:aspect>
	</aop:config>
	
	<bean id="writeArticleService" class="com.lsj.spring.board.service.WriteArticleServiceImpl">
		<constructor-arg>
			<ref bean="articleDao"/>
		</constructor-arg>
	</bean>
	
	<bean id="articleDao" class="com.lsj.spring.board.service.OracleArticleDAO"/>
	<bean id="memberService" class="com.lsj.spring.member.service.MemberServiceImpl"/>	
	
</beans>
